{% extends "templates/base.html" %}
{% block content %}
	<p>
	Here is a little bit about me.
	<p><img src="static/img/myface.png" alt="Emma Burger" height=250 width=200/></p>
	<p><img src="static/img/Ann Arbor.png" alt="Ann Arbor" height=300 width=300/></p>
	<p><img src="static/img/Michigan.png" alt="University of Michigan Logo" height=150 width=200/></p>
	<p><img src="static/img/Tribeca.jpg" alt="Tribeca" height=200 width=300/></p>
	<p><img src="static/img/UMSI.png" alt="UMSI Logo" height=100 width=600/></p>
	</p>
{%endblock%}