{% extends "templates/base.html" %}
{% block content %} 
	<p>This experience page for my sample portfolio. </p>
	<div id="experience" class="container">
	    <div class="row">
	        <div class="span3"><img src="static/img/HelloWorld.png" alt="HelloWorld inc. logo"></div>
	    	<div class="span3"><img src="static/img/wolvtv.png" alt="WolvTV logo"></div>
	    	<div class="span3"><img src="static/img/GammaPhiBeta.png" alt="Gamma Phi Beta"></div>
	    	<div class="span3"><img src="static/img/Hunter.png" alt="Hunter College High School logo"></div>
	    	<div class="span3"><img src="static/img/RecSports.png" alt="University of Michigan Recreational Sports logo"></div>
	    	<div class="span3"><img src="static/img/BrownLedgeCamp.png" alt="Brown Ledge Camp logo"></div>
	    	<div class="span3"><img src="static/img/Mohawk Day Camp.png" alt="Mohawk Day Camp logo"></div>
	    </div>
	</div>

{%endblock%}
