{% extends "templates/base.html" %}
{% block content %} 
	<p>These are a few of my favorite things. </p>
	<ul>
		<li> tennis </li>
		<li> surfing </li>
		<li> swimming </li>
		<li> running </li>
		<li> yoga </li>
		<li> watching "Breaking Bad", "Transparent" and "Broad City" </li>
		<li> sour gummy candy </li>
	</ul>
	<p> <img src="static/img/tennis.png" alt="Cesc and Emma on tennis court" height=300 width=170/> </p>
	<p> <img src="static/img/surf.png" alt="Emma, Cam and Oliva surfing circa 2006" height=350 width=150/></p>
{%endblock%}